/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.wrap-card {
  padding: 1em;
}

.wrap-gist {
  margin: 0 -40px;
}

.align-center {
  text-align: center;
}
